<div class="container-fluid">
  <app-page-title title="Dashboard" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class=" col-xl-4 col-sm-6" *ngIf="isRepoCreated === 'yes'" style="cursor: pointer;" (click)="goToFileManager()">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="flex-shrink-0 me-4">
              <div class="avatar-md">
                <span class="avatar-title rounded-circle bg-light text-danger font-size-24" style="color:#556ee6 !important">
                {{logo}}
                </span>
              </div>
            </div>
            <div class="flex-grow-1 overflow-hidden">
              <h5 class="text-truncate font-size-15">
                <a href="javascript: void(0);" class="text-dark">{{repoName}}</a>
              </h5>
              <p class="text-muted mb-4">{{descript}}</p>
              <div class="avatar-group">
                <div class="avatar-group-item" title="Amit Mehta" tooltip="Amit Mehta">
                  <a href="javascript: void(0);" class="d-inline-block">
                    <img src="assets/images/usr/user.png" class="rounded-circle avatar-xs" alt />
                  </a>
                </div>
                <div class="avatar-group-item" title="Girish B" tooltip="Girish B">
                  <a href="javascript: void(0);" class="d-inline-block">
                    <img src="assets/images/usr/user.png" class="rounded-circle avatar-xs" alt />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 border-top">
          <ul class="list-inline mb-0">
            <li class="list-inline-item me-3" title="Scan Status" tooltip="Scan Status">
              <span class="badge" [ngClass]="{ 'bg-success':  isRepoCreated === 'yes',
                    'bg-warning': isRepoCreated === 'no'}">SAST Scan Completed</span>
            </li>
            <li class="list-inline-item me-3" title="Due Date" tooltip="Scan Date">
              <i class="bx bx-calendar me-1"></i>
              1 Aug, 24
            </li>
            <li class="list-inline-item me-3" title="Comments" tooltip="Vulnerabilities">
              <i class="bx bx-shield-quarter me-1"></i>
              3
            </li>
          </ul>
        </div>
      </div>
    </div>
    @for(grid of projectData;track $index){
    <div class=" col-xl-4 col-sm-6" style="cursor: pointer;">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="flex-shrink-0 me-4">
              <div class="avatar-md">
                <span class="avatar-title rounded-circle bg-light text-danger font-size-24" style="color:#556ee6 !important">
                  {{grid.appname}}
                </span>
              </div>
            </div>

            <div class="flex-grow-1 overflow-hidden">
              <h5 class="text-truncate font-size-15">
                <a href="javascript: void(0);" class="text-dark">{{grid.text}}</a>
              </h5>
              <p class="text-muted mb-4">{{grid.subtext}}</p>
              <div class="avatar-group">
                <div class="avatar-group-item" title="{{grid.uname[0]}}" tooltip="{{grid.uname[0]}}">
                  <a href="javascript: void(0);" class="d-inline-block">
                    <img src="{{grid.users[0]}}" class="rounded-circle avatar-xs" alt />
                  </a>
                </div>
                @if(grid.users[1]){
                <div class="avatar-group-item" title="{{grid.uname[1]}}" tooltip="{{grid.uname[1]}}">
                  <a href="javascript: void(0);" class="d-inline-block">
                    <img src="{{grid.users[1]}}" class="rounded-circle avatar-xs" alt />
                  </a>
                </div>}@else if (grid.users[2]) {
                <div class="avatar-group-item" title="{{grid.uname[2]}}" tooltip="{{grid.uname[2]}}">
                  <a href="javascript: void(0);" class="d-inline-block">
                    <img src="{{grid.users[2]}}" class="rounded-circle avatar-xs" alt />
                  </a>
                </div>}
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 border-top">
          <ul class="list-inline mb-0">
            <li class="list-inline-item me-3" title="Scan Status" tooltip="Scan Status">
              <span class="badge" [ngClass]="{ 'bg-success': grid.comment <= 10,
                    'bg-warning': grid.comment > 10 && grid.comment <= 20,
                    'bg-danger': grid.comment > 20 }">{{grid.status}}</span>
            </li>
            <li class="list-inline-item me-3" title="Due Date" tooltip="Scan Date">
              <i class="bx bx-calendar me-1"></i>
              {{grid.date}}
            </li>
            <li class="list-inline-item me-3" title="Comments" tooltip="Vulnerabilities">
              <i class="bx bx-shield-quarter me-1"></i>
              {{grid.comment}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="row">
    <div class="col-lg-12">

      <ul class="pagination justify-content-end mb-2 pagination-rounded justify-content-center p-2">
        <pagination class="pagination-wrap hstack gap-2" [totalItems]="returnedArray?.length" [itemsPerPage]="9" (pageChanged)="pageChanged($event)"></pagination>
      </ul>
    </div>
  </div>
  <!-- end row -->
</div>