.lnk-style:hover {
    color: #007bff;
    text-decoration: underline;

}

.file-content {
    background-color: black;
    color: white;
    padding: 10px;
}

.line-numbers {
    counter-reset: line;
}

.line {
    counter-increment: line;
}

.line:before {
    content: counter(line);
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    text-align: right;
    color: #999;
}

.scrollable {
    max-height: 74vh; /* 100% of the viewport height */
    overflow-y: auto;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .avatar-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 2px;
  }

  .top-contributor{
    margin-top: -20px;
  }